.select2-container .select2-selection--single {
    height:35px !important;
}
.col-2 {
    max-width: 12.666667%!important;
}

#multiselectddl .dropdown-menu.show {
    top: 70px !important;
}
.multiselect-native-select .caret {
    display:none;
}
.sidebar {
overflow-y:initial!important;
padding-left:4.5rem!important;
}
.nav-sidebar .nav-header {
    font-size:initial!important;
}
.user-panel img {
    width:5.1rem!important;
}